<!DOCTYPE html>
<html>
<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title DATA INTELLIGENCE-DATACOVID-19</title>
    <meta name="description" content="Es un portal para visualizacion de datos del covid-19 de manera simple. Se mantiene información actualizada">
    <meta name="keywords" content="covid19,coronavirus,data,dataintelligence,dashboard,powerbi">
    <meta name="author" content="Equipo desarrollo Data Intelligence">
    <link rel="shortcut icon" href="~/Content/flag-icon/Icono-webDataIntelligense-prueba.png">
    <link href="~/Content/Sitecl.css" rel="stylesheet" />
    <link rel="image_src" href="https://odooutil.azurewebsites.net/Content/img/RRSS/logoDataIntelligence.png">

    <!-- OpenGraph tags for Facebook -->
    <meta property="og:type" content="website" />

    <meta property="og:title" content="DATACOVID-19" />

    <meta property="og:description" content="Situacion mundial del COVID19." />
    @*
        <meta property="og:image" content="<img src='~/Content/datacovid/portada.PNG' alt='dashboardCOVI19' />" />
    *@
    <meta property="og:image" content="~/Content/datacovid/portada.PNG" />
    <meta property="og:url" content="https://odooutil.azurewebsites.net/TURNER/EleccionesCHL" />
    @*
        <meta property="og:site_name" content="Site Name, i.e. Moz" /meta property="fb:admins" content="Facebook numeric ID" />
    *@
    <!--Twitter Cards -->

    <meta name="twitter:title" content="DATACOVID-19">

    <meta name="twitter:description" content="Situacion mundial del COVID19.">

    <meta name="twitter:image" content="~/Content/datacovid/portada.PNG">
    @*
        <link rel="STYLESHEET" type="text/css" href="~/Content/SiteMovil.css"/>

            <meta name="twitter:site" content="@USERNAME">
            <meta name="twitter:creator" content="@USERNAME">
    *@

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!--   @RenderSection("scripts", required: false) -->
  <link href="~/Content/Sitecl.css" rel="stylesheet" />
    <script>
        /*Con esta función al seleccionar un valor en el DropdownList Tema se rellenará automaticamente
         * el DropdownList de subtemas con los subtemas relacionados al Tema seleccionado
        */

        $(document).ready(function () {
            $.get("https://raw.githubusercontent.com/Sud-Austral/Datos/master/Total/total.txt", function (data) {
                $("#infectados").empty();
                var salida = ""
                var numero = parseInt(data)
                var numero1 = parseInt(numero % 1000)
                var numero2 = parseInt((numero / 1000) % 1000)
                var numero3 = parseInt((numero / 1000000) % 1000)

                $("#infectados").append(numero3 + "." + numero2 + "." + numero1 + " Infectados")

                // CONSTRUIMOS EL DropDownList A PARTIR DEL RESULTADO Json (data)
            });
        });

    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163367570-1"></script>
    <script>

        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-163367570-1');
    </script>
</head>
<!-- -----SIDEBAR----  -->
<body style="padding:0px !important;margin:0px !important">
    @*SEO*@


    <a class="btn btn-primary" href="~/estructura/mapa1/10">region 10</a>
    <a class="btn btn-primary" href="~/estructura/mapa1/9">region 9</a>
    <a class="btn btn-primary" href="~/estructura/mapa1/8">region 8</a>
    <a class="btn btn-primary" href="~/estructura/mapa1/7">region 7</a>





    <div style="display:none">
        <h1>Data Intelligence</h1>
        <h2>Covid-19</h2>
        <h3>Coronavirus</h3>
        <h4>Dashboard</h4>
    </div>
    <div class="container-fluid" style="padding:0px !important;margin:0px !important;">
        <div class="row" style="padding:0px !important;margin:0px !important;">
            <div class="col-md-1" style="padding:0px !important">
                <input type="checkbox" class="checkbox" id="check" />
                <label class="botonMenu" for="check">☰</label>

                <div class="menuLateral" style="min-height: 1000px;top: 0px;background: #EE3600;position: absolute;color: #ffffff;
                    font-family: 'din-2014-narrow';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 33px;
                    text-align: center;
                    z-index:3">
                    <nav>
                        <div class="pull-image" style="text-align:center; margin-top:30%">

                            <a href="~/Datacovidcl/">
                                <img src="~/Content/layout/logo.svg" alt="logos" class="logos">
                            </a>
                            <hr class="divisor" />
                        </div>
                        <ul>
                            <li class="active">
                                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="color:white; list-style-type: none;">Filtro de  Opciones</a>
                                <ul class="collapse list-unstyled" id="homeSubmenu" style="text-align:right; text-decoration: none; ">
                                    <li>
                                        <a href="~/estructura/mapa1/10" style="color:white">REGION 10</a>
                                    </li>
                                    <li>
                                        <a href="~/estructura/mapa1/9" style="color:white">REGION 9</a>
                                    </li>
                                    <li>
                                        <a href="~/estructura/mapa1/8" style="color:white">REGION 8</a>
                                    </li>
                                    <li>
                                        <a href="~/estructura/mapa1/7" style="color:white">REGION 7</a>
                                    </li>
                                </ul>
                                <hr class="divisor" />
                            </li>
                            <li class="active">
                                <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="color:white"> Filtro de Opciones </a>
                                <ul class="collapse list-unstyled" id="homeSubmenu2" style="text-align:right">

                                    <li>
                                        <a href="~/Datacovidcl/dashboard/salud" style="color:white">Opción 1 </a>
                                    </li>
                                    <li>
                                        <a href="~/Datacovidcl/dashboard/farmacia" style="color:white">Opción 2</a>
                                    </li>
                                    <li>
                                        <a href="~/Datacovidcl/dashboard/alimentacion" style="color:white">Opción 3</a>
                                    </li>
                                </ul>
                                <hr class="divisor" />
                            </li>
                            <li class="active">
                                <a href="#homeSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="color:white">Fitro deOpciones</a>
                                <ul class="collapse list-unstyled" id="homeSubmenu3" style="text-align:right">
                                    <li>
                                        <a href="~/Datacovidcl/dashboard/economico" style="color:white">Opción 1</a>
                                    </li>
                                    <li>
                                        <a href="~/Datacovidcl/dashboard/trabajo" style="color:white">Opción 2</a>
                                    </li>
                                    <li>
                                        <a href="~/Datacovidcl/dashboard/restricciones" style="color:white">Opción 3</a>
                                    </li>
                                </ul>
                                <hr class="divisor" />
                            </li>
                        </ul>
                    </nav>

                    <!--  REDES SOCIALES  -->
                    <nav>
                        <div class="pull-imagen" style="text-align:center">
                            <a target="_blank" href="https://www.facebook.com/dataintelligencecl/"><img src="~/Content/layout/VFb.svg" alt="logosf" class="logos">    </a>
                            <br><br>
                            <a target="_blank" href="https://www.instagram.com/data.intelligence/?hl=es-la"> <img src="~/Content/layout/VIg.svg" alt="logosi" class="logos"> </a>
                            <br><br>
                            <a target="_blank" href="https://twitter.com/data_int"><img src="~/Content/layout/Vtw.svg" alt="logost" class="logos"></a>
                            <br /><br />
                            <a target="_blank" href="https://www.linkedin.com/in/data-intelligence-5916b41a5/">
                                <img src="~/Content/layout/VLk.png" alt="logost" class="logos">
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="col-12 col-md-11" style="margin-top:2%;background:#000 !important;">
                <div class="row" style="margin-top:2%;">
                    <div class="col-3 offset-sm-2 offset-md-0 d-block d-lg-none">
                        <div class="left mv-contenedor-logoa">
                            <img src="~/Content/layout/dc19.png" alt="Logoa" class="logoa">

                        </div>
                    </div>
                    <div class="col-9 col-sm-8 col-md-9 mv-contenedor-fecha d-block d-lg-none">
                        <div class="row">
                            <div class="col-12">
                                <div class="fecha" style="font-size: 15px; color:#FFFFFF; text-align:end;margin-right:10%/*padding-left:50%   600px;*/ ">
                                    <script>
                                        var meses = new Array("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre");
                                        var diasSemana = new Array("Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado");
                                        var f = new Date();
                                        document.write(" " + diasSemana[f.getDay()] + ", " + f.getDate() + " de <br />" + meses[f.getMonth()] + " de " + f.getFullYear());
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1 offset-7" style="padding-left:6%;margin-top:3%">
                                <img class="logopais" src="~/Content/layout/Group2.png" alt="ico pais" />
                                @*  <img src="~/Content/layout/PAIS.svg" alt="pais" class="pais" style="margin-left:-69%">*@
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 col-lg-3  d-none d-lg-block">
                        <div class="left mv-contenedor-logoa offset-sm-3">
                            <img src="~/Content/layout/dc19.svg" alt="Logoa" class="logoa">
                        </div>
                    </div>
                    <div class="col-lg-7 d-none d-lg-block mv-contenedor-fecha">
                        <div class="row">
                            <div class="col-3  offset-lg-4 offset-md-7">
                                <div class="fecha" style="font-size: 15px; color:#FFFFFF; text-align:center/*padding-left:50%   600px;*/ ">
                                    <script>
                                        var meses = new Array("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre");
                                        var diasSemana = new Array("Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado");
                                        var f = new Date();
                                        document.write(" " + diasSemana[f.getDay()] + ", " + f.getDate() + " de </br>" + meses[f.getMonth()] + " de " + f.getFullYear());
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1 offset-lg-4 offset-md-7" style="margin-left:35% !important;margin-top:0.5%;">
                                <img style="padding:10%;" class="logopais" src="~/Content/layout/Group2.png" alt="ico pais" />
                                @*  <img src="~/Content/layout/PAIS.svg" alt="pais" class="pais" style="margin-left:-69%">*@
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 d-lg-block d-none" style="margin-left:-3.5% !important;">
                        <div class="row">
                            <div class="col-12" style="text-align:right;padding:0% !important;margin:0% !important;margin-top:5% !important;
                                    font-family: 'din-2014-narrow';
                                    font-size: 40px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 33px;
                                    color:white">
                                @if (ViewBag.Dashboard == null)
                                {
                                    string hola = "Sin dashboard";
                                    @hola;

                                }
                                else
                                {
                                    @ViewBag.seccion
                                }
                            </div>
                        </div>
                        <div class="row" style="width:220%; margin-left:-95%;">
                            <div class="col-lg-12 col-md-8 offset-md-4" style="text-align:right;padding:0% !important;margin:0% !important;margin-top:5% !important;">
                                @*https://platform.sharethis.com/inline-share-buttons  *@
                                <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5e950afc313ffe00134d0c63&product=inline-share-buttons&cms=website' async='async'></script>
                                <div class="sharethis-inline-share-buttons"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-12 d-lg-none d-block" style="margin-left:-3.5% !important;">
                        <div class="row" style="margin-left:8%">
                            <div class="col-2" style="text-align:left;padding:0% !important;margin:0% !important;
                                    font-family: 'din-2014-narrow';
                                    font-size: 40px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 33px;
                                    color:white">
                                @if (ViewBag.Dashboard == null)
                                {
                                    string hola = "Sin dashboard";
                                    @hola;

                                }
                                else
                                {
                                    @ViewBag.seccion
                                }
                            </div>
                        </div>
                        <div class="row" style="justify-content:flex-end; margin-top:-6%">
                            <div class="col-7 offset-4" style="text-align:right;padding:0% !important;margin:0% !important;margin-top:2% !important;margin-bottom:2% !important;">
                                @*https://platform.sharethis.com/inline-share-buttons  *@
                                <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5e950afc313ffe00134d0c63&product=inline-share-buttons&cms=website' async='async'></script>
                                <div class="sharethis-inline-share-buttons"></div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row" style="margin-top:1%">


                    <boton class="btn btn-primary" href="~/estructura/mapa1/10">region 10</boton>
                    <boton class="btn btn-primary" href="~/estructura/mapa1/9">region 9</boton>
                    <boton class="btn btn-primary" href="~/estructura/mapa1/8">region 8</boton>
                    <boton class="btn btn-primary" href="~/estructura/mapa1/7">region 7</boton>


                </div>

                <div class="row" style="margin-top:1%">


                    <a class="btn btn-primary" href="~/estructura/mapa1/10">region 10</a>
                    <a class="btn btn-primary" href="~/estructura/mapa1/9">region 9</a>
                    <a class="btn btn-primary" href="~/estructura/mapa1/8">region 8</a>
                    <a class="btn btn-primary" href="~/estructura/mapa1/7">region 7</a>


                    <div class="col">
                        @RenderBody()
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        @* Torpedo de Luis, le sirve para mirar detallitos
                            <style>
                                .columna {
                                    background: #2191fb;
                                    color: #fff;
                                    padding: 20px;
                                    margin-bottom: 20px;
                                }
                            </style>
                            <div class="row">
                                <div class="columna col d-block d-sm-none">XS - Extra Small</div>
                                <div class="columna col d-none d-sm-block d-md-none">SM - Small</div>
                                <div class="columna col d-none d-md-block d-lg-none">MD - Medium</div>
                                <div class="columna col d-none d-lg-block d-xl-none">LG - Large</div>
                                <div class="columna col d-none d-xl-block">XL - Extra Large</div>
                            </div>
                        *@
                        <div style="position:sticky; height:50px; background-color:#000; right:0px;">

                            <footer class="page-footer font-small teal pt-4 pb-5">
                                <div class="container">
                                    <div class="left">
                                    </div>

                                    <div class="right1 float-right">
                                        <a href="~/" target="_blank">
                                            <img src="~/Content/layout/Di.svg" alt="Logo" class="logo">
                                        </a>

                                    </div>
                                    <div class="right2 float-right mr-5" style="color:#fff;">
                                        PLATAFORMA REALIZADA POR <br>
                                        DATA INTELLIGENCE INTERNACIONAL

                                    </div>

                                </div>

                            </footer>
                        </div>

                    </div>
                </div>


                <!-- -----FOOTER----  -->

            </div>
        </div>
    </div>


    @*
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    *@

</body>
</html>
