<!DOCTYPE html>
<html>
<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title DATA INTELLIGENCE-DATACOVID-19</title>
    <meta name="description" content="Es un portal para visualizacion de datos del covid-19 de manera simple. Se mantiene información actualizada">
    <meta name="keywords" content="covid19,coronavirus,data,dataintelligence,dashboard,powerbi">
    <meta name="author" content="Equipo desarrollo Data Intelligence">
    <link rel="shortcut icon" href="~/Content/flag-icon/Icono-webDataIntelligense-prueba.png">
    <link href="~/Content/Sitecl.css" rel="stylesheet" />
    <link rel="image_src" href="https://odooutil.azurewebsites.net/Content/img/RRSS/logoDataIntelligence.png">

    <!-- OpenGraph tags for Facebook -->
    <meta property="og:type" content="website" />

    <meta property="og:title" content="DATACOVID-19" />

    <meta property="og:description" content="Situacion mundial del COVID19." />
    @*
        <meta property="og:image" content="<img src='~/Content/datacovid/portada.PNG' alt='dashboardCOVI19' />" />
    *@
    <meta property="og:image" content="~/Content/datacovid/portada.PNG" />
    <meta property="og:url" content="https://odooutil.azurewebsites.net/TURNER/EleccionesCHL" />
    @*
        <meta property="og:site_name" content="Site Name, i.e. Moz" /meta property="fb:admins" content="Facebook numeric ID" />
    *@
    <!--Twitter Cards -->

    <meta name="twitter:title" content="DATACOVID-19">

    <meta name="twitter:description" content="Situacion mundial del COVID19.">

    <meta name="twitter:image" content="~/Content/datacovid/portada.PNG">
    @*
        <link rel="STYLESHEET" type="text/css" href="~/Content/SiteMovil.css"/>

            <meta name="twitter:site" content="@USERNAME">
            <meta name="twitter:creator" content="@USERNAME">
    *@

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!--   @RenderSection("scripts", required: false) -->
    <link href="~/Content/Sitecl.css" rel="stylesheet" />
    <script>
        /*Con esta función al seleccionar un valor en el DropdownList Tema se rellenará automaticamente
         * el DropdownList de subtemas con los subtemas relacionados al Tema seleccionado
        */

        $(document).ready(function () {
            $.get("https://raw.githubusercontent.com/Sud-Austral/Datos/master/Total/total.txt", function (data) {
                $("#infectados").empty();
                var salida = ""
                var numero = parseInt(data)
                var numero1 = parseInt(numero % 1000)
                var numero2 = parseInt((numero / 1000) % 1000)
                var numero3 = parseInt((numero / 1000000) % 1000)

                $("#infectados").append(numero3 + "." + numero2 + "." + numero1 + " Infectados")

                // CONSTRUIMOS EL DropDownList A PARTIR DEL RESULTADO Json (data)
            });
        });

    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163367570-1"></script>
    <script>

        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-163367570-1');
    </script>
</head>
<!-- -----SIDEBAR----  -->
<body style="padding:0px !important;margin:0px !important">
    @*SEO*@

    <div class="container-fluid" style="padding:0px !important;margin:0px !important;">
        <div class="row" style="padding:0px !important;margin:0px !important;">
            <!-- MENU LATERAL -->
            <div class="col-md-1 d-none d-md-block" style="padding:0px !important">
                <input type="checkbox" class="checkbox" id="check" />
                <label class="botonMenu" for="check">☰</label>

                <div class="menuLateral" style="min-height:900px;top: 0px;background: #2ca8df;position: absolute;color: #ffffff;
                    font-family: 'din-2014-narrow';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 33px;
                    text-align: center;
                    z-index:3">
                    <nav>
                        <div class="pull-image" style="text-align:center; margin-top:30%">

                            <a href="~/Datacovidcl/">
                                <img src="~/Content/layout/logo.svg" alt="logos" class="logos">
                            </a>
                            <hr class="divisor" />
                            <style>
                                ul li::marker {
                                    color: #2ca8df !important;
                                    font-size: 0em !important;
                                }
                            </style>


                        </div>
                        <ul>
                            <li class="active">
                                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="color:white; list-style-type: none;">Filtro de  Opciones</a>
                                <ul class="collapse list-unstyled" id="homeSubmenu" style="text-align:right; text-decoration: none; ">
                                    <li>
                                        <a href="~/estructura/mapa1/10" style="color:white">REGION 10</a>
                                    </li>
                                    <li>
                                        <a href="~/estructura/mapa1/9" style="color:white">REGION 9</a>
                                    </li>
                                    <li>
                                        <a href="~/estructura/mapa1/8" style="color:white">REGION 8</a>
                                    </li>
                                    <li>
                                        <a href="~/estructura/mapa1/7" style="color:white">REGION 7</a>
                                    </li>
                                </ul>
                                <hr class="divisor" />
                            </li>
                            <li class="active">
                                <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="color:white"> Filtro de Opciones </a>
                                <ul class="collapse list-unstyled" id="homeSubmenu2" style="text-align:right">

                                    <li>
                                        <a href="~/Datacovidcl/dashboard/salud" style="color:white">Opción 1 </a>
                                    </li>
                                    <li>
                                        <a href="~/Datacovidcl/dashboard/farmacia" style="color:white">Opción 2</a>
                                    </li>
                                    <li>
                                        <a href="~/Datacovidcl/dashboard/alimentacion" style="color:white">Opción 3</a>
                                    </li>
                                </ul>
                                <hr class="divisor" />
                            </li>
                            <li class="active">
                                <a href="#homeSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="color:white">Fitro deOpciones</a>
                                <ul class="collapse list-unstyled" id="homeSubmenu3" style="text-align:right">
                                    <li>
                                        <a href="~/Datacovidcl/dashboard/economico" style="color:white">Opción 1</a>
                                    </li>
                                    <li>
                                        <a href="~/Datacovidcl/dashboard/trabajo" style="color:white">Opción 2</a>
                                    </li>
                                    <li>
                                        <a href="~/Datacovidcl/dashboard/restricciones" style="color:white">Opción 3</a>
                                    </li>
                                </ul>
                                <hr class="divisor" />
                            </li>
                        </ul>
                    </nav>

                    <!--  REDES SOCIALES  -->
                    <nav>
                        <div class="pull-imagen" style="text-align:center">
                            <a target="_blank" href="https://www.facebook.com/dataintelligencecl/"><img src="~/Content/layout/VFb.svg" alt="logosf" class="logos">    </a>
                            <br><br>
                            <a target="_blank" href="https://www.instagram.com/data.intelligence/?hl=es-la"> <img src="~/Content/layout/VIg.svg" alt="logosi" class="logos"> </a>
                            <br><br>
                            <a target="_blank" href="https://twitter.com/data_int"><img src="~/Content/layout/Vtw.svg" alt="logost" class="logos"></a>
                            <br /><br />
                            <a target="_blank" href="https://www.linkedin.com/in/data-intelligence-5916b41a5/">
                                <img src="~/Content/layout/VLk.png" alt="logost" class="logos">
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
            <!--CIERRE MENU LATERAL -->

            <div class="col-12 col-md-11" style="background:#000 !important;">
                <div class="row" style="margin-top:2%;">
                    <div class="col-12 ">
                        <div class="row">
                            <div class="col-12"style="margin-left:0px !important;">
                                <img style="height:120px;" src="~/Content/layout/cabeceraInformeInteractivo_DataAMBIENTAL.jpg" />
                                <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
                                    <style>
                                        .btn {
                                            top: 0px !important;
                                            background-color: #000;
                                            border: solid #ff0000;
                                            left: 20px !important;
                                            
                                        }
                                            .btn:hover {background-color:#2ca8df !important;
                                            }
                                    </style>
                                    <!--  BOTONES  -->
                                    <a class="btn btn-secondary" href="https://analytics.zoho.com/open-view/2395394000007390914">Reg&iacute;on 10</a>
                                    <a class="btn btn-secondary" href="https://analytics.zoho.com/open-view/2395394000006974537">Reg&iacute;on 9</a>
                                    <a class="btn btn-secondary" href="~/estructura/mapa1/8">Reg&iacute;on 8</a>
                                    <a class="btn btn-secondary" href="~/estructura/mapa1/7">Reg&iacute;on 7</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- YO CREO QUE ES EL IFRAME -->
                <div class="row" style="margin-top:2%">
                    <div class="col">
                        @RenderBody()
                    </div>
                </div>
                <!-- ----- CIERRE YO CREO QUE ES EL IFRAME----  -->
                <!-- FOOTER -->
                <div class="row mt-2">
                    <div class="col-12">
                        <footer>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12 text-center" style="background-color:transparent">

                                        <img style="height:31.4px;" src="~/Content/layout/separador_informe_AMBIENTAL.jpg" />
                                    </div>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
                <!-- ----- CIERRE FOOTER----  -->

            </div>
        </div>
    </div>


    @*
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    *@

</body>
</html>
